header{
    background-color: aliceblue;
    display: grid;
    grid-template-columns: repeat(10,minmax(20px,auto));
    padding: 20px;
    font-size: 20px;
    overflow: hidden;
}
form{
    grid-column: span 7;
    display: flex;
    flex-wrap: nowrap;
}
input{
    width: 80%;
    margin: 10px;
    font-size: 1.5rem;
}
button{
    margin: 10px;
    padding: 10px;
}
select{
    margin: 10px;
    min-width: 100px;
    padding: 10px;
    font-size: 20px;
}
@media screen and (max-width:800px) {
    header{
        display: flex;
        flex-wrap: wrap;
    }
}